header {
  display: flex;
  height: 293px;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin: 0;
  padding: 0;
}

/* Начал делать шапку страницы.
Подумать над правильным расположением элементов
Перед этим написать css свойства для всех элементов шапки
Если это кто-то посмотрит, привет:) Хорошего тебе дня)